*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: #fff;
}
.key{
    font-size: 40px;
}
.projects{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.color{
    border: 2px solid #fff;
}
table{
    border: 2px solid #fff;
}

th{
    border: 2px solid #fff; 
}
td{
    border: 2px solid #fff;
}




